<footer>
    <section class="search">
        <div class="search">
            <span>Sign up for Send Newsletter</span>
            <input matInput placeholder="Search">
            <div class="btn">
                <button mat-raised-button>SUBSCRIBE</button>
                <button mat-icon-button>
                    <mat-icon>smoking_rooms</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>adb</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>cloud</mat-icon>
                </button>
            </div>
        </div>
    </section>
    <section class="footer">
        <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Page</a></li>
        </ul>
        <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Page</a></li>
        </ul>
        <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Page</a></li>
        </ul>
        <ul class="logo">
            <li><img src="../../assets/images/nav/logo.png" alt=""></li>
            <li><a href="#">112 Kingdom, NA 12, New York</a></li>
            <li><a href="#">+12 345 678 910</a></li>
            <li><a href="#">infor.deercreative@gmail.com</a></li>
            
        </ul>
    </section>
</footer>